body{
    font-family: sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

:root{
    --color-primary: blue;
    --background-color: white;
    --text-color: gray;
    --title-color: black;
}
/*Dark theme*/
.dark-theme{
    --background-color: black;
    --text-color: gray;
    --title-color: white;
}

/*Target all element */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.menu_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    color: #fff; 
    font-size: 30px;
    
}

.toggle-button {
    display: flex;
    align-items: center;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    margin: 0 10px;
    
}

.dropdown-menu-1 {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
}

.main-menu li:hover .dropdown-menu-1 {
    display: block;
}

.fox {
    width: 50px; 
    height: auto; 
}


/*.menu_bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}



/*.menu_bar ul{
    list-style: none;
    display: flex;
}

.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
}

.menu_bar ul li a:hover{
    color: var(--color-primary);
}
/*Dropdown menu style*/

.dropdown-menu{
    display: none;
}

.dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    
}

.dropdown-menu ul{
    display: block;
    margin: 10px;

}

.dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}

.dropdown-menu-1{
    display: none;
}

.dropdown-menu ul li :hover .dropdown-menu-1{
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    
}

/*Img for logo*/
   
.toggle-button{
    background: #4864ff;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnIcon{
    border-radius: 50%;
    width: 50px;
    
}

.fox{
    border-radius: 50%;
    width: 60px;
    margin-top: 5px;
    border: 2px solid gold;

}


.content{ 
    margin-top: 10%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2{
    display: flex;
    font-size: 60px;
    font-family: serif;
    justify-content: center;
    color: var(--title-color);
}

.content h1{
    font-size: 60px;
    font-family: serif;
    color: var(--title-color);
    display: flex;
    
}

.content h1 span{
    font-family: serif;
    font-weight: 400px;
    font-style: italic;
}


.one h2{
    font-size: 60px;
    font-family: serif;
    color: var(--title-color);
    display: flex;
    margin-top: 100px;
}

.one p{
    font-size: 40px;
    color: var(--title-color);
    font-style: italic;
    white-space: pre-wrap;
    
}

.two h1{
    font-size: 60px;
    font-family: serif;
    color: var(--title-color);
    display: flex;
    margin-top: 100px;
}

.end{
    margin-top: 100px;
}

.end h2{
    font-size: 60px;
    font-family: serif;
    color: var(--title-color);
    display: flex;
    margin-top: 100px;
}

.end p{
    font-size: 30px;
    color: var(--title-color);
    font-style: italic;
    white-space: pre-wrap;
    
    
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: auto; /* Center the form horizontally */
    color: var(--title-color);
    font-size: 25px;
    
}

.place_project{
    height: 128px;
    width: auto;
}

.place_email{
   height: 50px;
   width: auto;
}

.place_name{
    height: 50px;
    width: auto;
}

.your_input{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.submit_button {
    width: 120px; 
    height: 40px; 
    font-size: 16px;   
}




 /*responsive opp til desktop*/
 @media(min-height: 1025px){

 }

 /*responsive opp til tablet*/
 @media(min-height: 770px){

 }

 /*responsive opp til mobil*/
 @media(min-height: 340px){

 }
 /* MOBILE S TO MOBILE L */
@media screen and (max-width: 426px) {
    
}